/Kickstarter_JavaScript/1.jpg
/Kickstarter_JavaScript/2.jpg
/Kickstarter_JavaScript/3.jpg
/Kickstarter_JavaScript/Session1/greetings.js
/challenge/Screenshot 2023-05-11 193325.jpg
/challenge/Screenshot 2023-05-11 193732.jpg
/challenge/Screenshot 2023-05-11 194105.jpg
/challenge/Screenshot 2023-05-11 194134.jpg
/challenge/Screenshot 2023-05-11 194450.jpg
/challenge/Screenshot 2023-05-11 195221.jpg
/challenge/Screenshot 2023-05-14 121249.jpg
